* {
    box-sizing: border-box;
}

html * {
    font-family: 'VT323', monospace;
    font-size: 1em;
}

#main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.1fr 120px 100px 100px 1fr;
    /* width: 95vw; */
    width: 1200px;
    height: 98vh;
    margin: auto;
    border: 1px solid green;
}

#travelers {
    grid-area: 1/1/4/2;
    background-color: black;
    display: flex;
    flex-flow: column;
    align-content: space-around;
    background-image: url('./images/oregon-trail_02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 87%;
}

.travelerB {
    padding: 5px;
    margin: 15px;
    width: 90px;
}

#main_buttons {
    grid-area: 4/1/5/2;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#add_traveler {
    grid-area: 5/1/6/2;
    background-color: rgb(18, 155, 80);
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    align-content: space-between;
}

.input_f {
    width: 250px;
    height: 30px;
    background-color: white;
    margin-top: 20px;
    font-size: 1.5em;
}

.input_hospital {
    width: 120px;
    height: 22px;
    background-color: white;
    margin: 15px 0 0 10px;
    font-size: 1.5em;
}

.b_hospital {
    width: 90px;
    font-size: 1em;
    letter-spacing: -1px;
    color: blue;
}

.input_info {
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: -1px;
    width: 150px;
    text-align: right;
    /* border: 1px solid blue; */
}

#pic {
    grid-area: 1/2/2/3;
    background-image: url('./images/oregon-trail.png');
    background-size: 100% 100%;
}

#hospital {
    grid-area: 2/2/3/3;
    background-color: red;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    align-content: space-between;
}

#wagon_holder {
    grid-area: 3/2/6/3;
    background-color: pink;
    background-image: url('./images/oregon-trail_01.png');
    background-size: 100% 100%;
}

#table_travelers, #table_passengers {
    /* font-family: Georgia, serif; */
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    border: 6px solid #24943A;
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
    margin-top: 45px;
}

#table_travelers td, #table_travelers th, #table_passengers td, #table_passengers th {
    border: 1px solid #24943A;
    padding: 3px 2px;
}

h1 {
    font-family: 'VT323', monospace;
    font-weight: 200;
    font-size: 3.4em;
    text-align: center;
    color: red;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    margin: 25px 5px 5px 5px;
}

.butt {
    font-size: 1.2em;
    width: 110px;
}

#wagon_div {
    color: red;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    margin: 25px 5px 5px 5px;
    font-size: 1.5em;
}

#table_passengers {
    font-size: 1em;
}

#resetB {
    align-self: center;
    margin: 15px 0 0 250px;
}